<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>AMO</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar placeholder="Search.." animated="" (ionChange)="filterAMO( $event )" >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- <ion-list *ngIf="lstAMO.length === 0">
    <ion-item *ngFor="let i of [1,1,1,1,1,1,1,1,1,1]">
      <ion-label>
      <ion-skeleton-text width="40%"></ion-skeleton-text>
      <ion-skeleton-text width="80%"></ion-skeleton-text>
    </ion-label>
    </ion-item>
  </ion-list> -->

  <ion-list >
    <ion-list-header>
      List of AMOs
    </ion-list-header>
    <ion-item *ngFor="let item of lstAMO | filter:txtFilter">
      <ion-avatar slot="start">
        <img src="assets/doctor_images/pic_icon.png">
      </ion-avatar>
      <ion-label>
        <h2 class="ion-text-wrap">{{item.name}}</h2>
        <h3 class="ion-text-wrap">{{item.description}}</h3>
        <h5 class="ion-text-wrap">{{item.address}}</h5>
        <p class="ion-text-wrap">{{item.emai_id}}</p>
        <p class="ion-text-wrap">{{item.phone}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>